body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 140%;
}

@media (max-width: 1050px) {
  body {
    zoom: 165%;
  }
}

@media (max-width: 550px) {
  body {
    zoom: 110%;
  }
}

@media (max-width: 385px) {
  body {
    zoom: 90%;
  }
}